* {
    color: white;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #9c27b0;
}

.main {
    background-color: #4caf50;
}

.article {
    background-color: #e91e63;
    margin: 10px;
}

.aside {
    background-color: #2196f3;
}

.footer {
    background-color: #ff9800;
}